1. Simple ATM Calculator

In [ ]:
bank_balance=int(input("enter your account balance"))
withdrawal=int(input("enter withdrawal amount"))
if withdrawal<bank_balance:
  balance=bank_balance-withdrawal
  print("Transaction successful. Remaining balance: ₹",balance)
else:
  print("insufficient balance !")

enter your account balance5000
enter withdrawal amount1500
Transaction successful. Remaining balance: ₹ 3500

2. Electricity Bill Generator

In [8]:
units = int(input("Units consumed: "))
print("=", u)

if units <= 100:
    bill = u * 5
    print(f"Bill amount = ₹{bill} ({u}×5)")
elif u <= 200:
    bill = (100 * 5) + (u - 100) * 7
    print(f"Bill amount = ₹{bill} (100×5 + {u - 100}×7)")
else:
    bill = (100 * 5) + (100 * 7) + (u - 200) * 10
    print(f"Bill amount = ₹{bill} (100×5 + 100×7 + {u - 200}×10)")

Enter units consumed: 275
Bill amount = ₹ 1950

3. Temperature Converter

In [ ]:

def temperature_converter(temperature,unit):
  if unit == "C" or unit == "c":
    result = (9/5 * temperature) + 32
    result=round(result,2)
    print(result,"F")
  elif unit == "F" or unit == "f":
    result = (5/9 * (temperature-32))
    result=round(result,2)
    print(result,"C")
  else:
    print("invalid unit")
temperature=float(input("Enter The Temperature"))
unit=str(input("Enter the Unit of Temperature"))
temperature_converter(temperature,unit)

Enter The Temperature98.6
Enter the Unit of Temperaturef
37.0 C

4. Mobile Recharge Validity

In [11]:
from datetime import datetime, timedelta

recharge_date = input("Recharge date (YYYY-MM-DD): ")
today_date = input("Today date (YYYY-MM-DD): ")

recharge_date = datetime.strptime(recharge_date, "%Y-%m-%d")
today_date = datetime.strptime(today_date, "%Y-%m-%d")

expiry_date = recharge_date + timedelta(days=28)

if today_date <= expiry_date:
    print("Plan valid.")
else:
    print("Plan expired. Recharge again.")

Recharge date (YYYY-MM-DD): 2025-07-01
Today date (YYYY-MM-DD): 2025-07-30
Plan expired. Recharge again.

5. Bus Seat Reservation System:

In [7]:
booked = input("Enter booked passengers ").split()
cancel = input("Enter the name to cancel: ")
new = input("Enter the new passenger name: ")
position = int(input("Enter the position of the passenger"))

booked.remove(cancel)
booked.insert(position, new)

print(booked)

Enter booked passengers amit sara john
Enter the name to cancel: sara
Enter the new passenger name: neha
Enter the position of the passenger1
['amit', 'neha', 'john']

6. Sum of even numbers

In [ ]:
number = int(input("Enter a number: "))
sum = 0

for i in range(1, number + 1):
    if i % 2 == 0:
        sum += i

print("Sum of even numbers:", sum)

Enter a number: 10
Sum of even numbers: 30

7. Dictionary – Student Marks Summary

In [6]:
students = {}
for i in range(3):
    name = input("Enter name: ")
    marks = float(input("Enter marks: "))
    students[name] = marks
average_marks = sum(students.values()) / 3
print("Average Marks:", average_marks)

Enter name: alice
Enter marks: 80
Enter name: bob
Enter marks: 90
Enter name: charlie
Enter marks: 70
Average Marks: 80.0

8. Dictionary – Word Frequency

In [9]:
def Frequency():
  sentence = input("Enter a senternce")
  words = sentence.split()
  freq = {}
  for word in words:
    if word in freq:
      freq[word] += 1
    else:
      freq[word] = 1
  return freq
result = Frequency()
print(result)

Enter a senterncehello world hell world
{'hello': 1, 'world': 2, 'hell': 1}

9. Functions – Check Prime

In [ ]:
def check_prime(number):
  if number>1:
    for i in range(2,number):
      if number%i==0:
        print(number," is not a prime number")
        break
    else:
      print(number,"is prime number")
number=int(input("Enter a number"))
check_prime(number)

Enter a number17
17 is prime number

10. Vowel Counter

In [ ]:
def vowel_counter():
  vowel=str(input("enter a string"))
  count=0
  for i in vowel:
    if i in "aeiouAEIOU":
      count=count+1
  print("number of vowels:",count)
vowel_counter()

enter a stringpython programming
number of vowels: 4

11. Count Divisible Numbers

In [5]:

N = int(input("Enter the range limit (N): "))
D = int(input("Enter the divisor (D): "))

count = 0
for i in range(1, N + 1):
    if i % D == 0:
        count += 1
print("Count of numbers divisible by ",D,":" ,count)

Enter the range limit (N): 50
Enter the divisor (D): 5
Count of numbers divisible by  5 : 10